<div class="row">
  <aside class="col-md-4">
    <section class="request_form">
      <%= render "shared/request_form" %>
    </section>
  </aside>
</div>
<h1><%= t "title.all_requests" %></h1>
  <%= render "request" %>
<%= will_paginate %>
