<div class="custom-search-input">
  <%= form_tag(admin_categories_path, method: :get) do %>
    <ul>
      <li>
        <%= label_tag :search %>
        <%= text_field_tag :search, params[:search], class: "form-control",
          placeholder: t("placeholder.search_category")%>
      </li>
      <li>
        <%= submit_tag t("book.search"), class: "btn btn-primary" %>
      </li>
    </ul>
  <% end %>
</div>

