<footer class="footer">
  <small>
    <a href="https://www.facebook.com/FramgiaVietnam/"><%= t "title.title_facebook" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("title.title_about"), about_path %></li>
      <li><%= link_to t("title.title_contact"), contact_path %></li>
      <li><%= link_to t("title.title_help"), help_path %></li>
    </ul>
  </nav>
</footer>
